<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/room_type.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="wrap">
        <div class="wrap-in">
            <form>
                <div class="insert_div_daddy">
                    <div class="insert_div">
                        <!-- 여기서 넘버는 accomm에서 값을 받아온다 -->
                        <div class="insert_div_space1">NUMBER</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="number" name="">
                        </div>
                    </div>
                    <div class="insert_div">
                        <div class="insert_div_space1">방 이름</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="text" name="" autofocus required>
                        </div>
                    </div>
                    <div class="insert_div">
                        <div class="insert_div_space1">기준인원</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="number" name="" required>
                        </div>
                    </div>                    
                    <div class="insert_div">
                        <div class="insert_div_space1">최대인원</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="number" name="" required>
                        </div>
                    </div>                    
                    <div class="insert_div">
                        <!-- 외래키 참조 (room_type) -->
                        <div class="insert_div_space1">숙박 or 대실</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="text" name="" required>
                        </div>
                    </div>
                    <!-- 여기까지 필수 입력값 -->

                    <div class="insert_div">
                        <div class="insert_div_space1">대실시간</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="number" name="">
                        </div>
                    </div>
                    <div class="insert_div">
                        <div class="insert_div_space1">방 이미지</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="file" name="">
                        </div>
                    </div>
                    <div class="insert_div">
                        <div class="insert_div_space1">방 기본 정보</div> 
                        <div class="insert_div_space2">
                            <input class="insert_design" type="text" name="">
                        </div>
                    </div>
                    <div class="submit_div">
                        <input type="submit" value="전송">
                    </div>                    
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>